body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.book{
  box-sizing: border-box;
  padding: 20px ;
  margin: 20px;
  background-color: #fff;
  border: 1px solid black;
}

h1{
  color: blue;
}
@media screen and (min-width:768px){
  .books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

  }
}